




















.block-page-header{
    background: rgba(0, 0, 0, 0.838);
}

.block-page-wrapper{
    padding-top: 130px;
}

.block-page-logo-name{
    font-size: 35px;
    color: #f2f2f2;
}
/* block page single block modify */
.block-page-single-block:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
    transition: all 0.4s linear;
}









































